body {
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  border-bottom:2px dashed $mainOrange;
  padding-bottom: 0.05rem;
  color:$mainOrange;
}
