.modal {
  position : fixed;
  opacity : 0;
  visibility:hidden;

  width : 100%;
  top : 0;
  bottom: 0;
  left : 0;
  right : 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.5s ease-out;
  &__inner {
    position: absolute;
    width : 100%;
  top : 50%;
  transform: translateY(-50%);
}
  &__message{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  &__closebtn{
      position: absolute;
      top: 15px;
      right : 25px;
      cursor: pointer;
      font-weight: 300;
      font-size: 1.5rem;
      color : $mainBlue;
     transform: scaleX(1.5);
     &:hover {
       color : $mainOrange;
     }
  }
  &--is-open {
    opacity : 1;
    visibility: visible;
  }
}
