.row{

@mixin atMedium{
  @mixin clearFix;
  &--gutters{
      margin-right: -65px;
  }
  &--gutters-small{
    margin-right: -45px;
  }
  &--gutters-large{
    margin-right:-100px;
  }

  &--gutters > div{
      padding-right: 65px;
  }
  &--gutters-small > div{
    padding-right:45px;
  }
  &--gutters-large > div {
    padding-right: 100px;
  }

  &__medium-4{
      float :left;
      width:33.33%;
  }
  &__medium-4--larger{
    width:37%;
  }

  &__medium-6{
    float:left;
    width:50%;
  }

  &__medium-8{
      float:left;
      width:66.66%;
    }
    &__medium-8--smaller{
      width:63%;
    }
    &--t-padding{
      padding-top:5rem;
    }

}
/*/////////////////////at large*/
@mixin atLarge{
  @mixin clearFix;
  &--gutters{
      margin-right: -65px;
  }
  &--gutters-small{
    margin-right: -45px;
  }
  &--gutters-large{
    margin-right:-100px;
  }

  &--gutters > div{
      padding-right: 65px;
  }
  &--gutters-small > div{
    padding-right:45px;
  }
  &--gutters-large > div {
    padding-right: 100px;
  }

  &__large-4{
      float :left;
      width:33.33%;
  }
  &__large-4--larger{
    width:37%;
  }

  &__large-6{
    float:left;
    width:50%;
  }

  &__large-8{
      float:left;
      width:66.66%;
    }
    &__large-8--smaller{
      width:63%;
    }
    &--t-padding{
      padding-top:5rem;
    }

}

/*=====================equal hieght of testimonial secion*/

&--equal-height-at-medium{
  @mixin atSmall{
    display: flex;
  }
    &  > div{
    float: none;
    display: flex;
}
  }

  &--equal-height-at-large{
    @mixin atLarge{
      display: flex;
    }
      &  > div{
      float: none;
      display: flex;

    }
}

}
